html {
  font: normal 16px sans-serif;
  color: #555;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #f27211;
  font-weight: 800;
  text-align: center;
  padding: 1rem;
}

/*-------------
 	General
-------------*/
@font-face {
  font-family: "own";
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url("/font/Aladin-Regular.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

a.btn {
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #f27211;
  font-weight: 800;
  text-align: center;
}

hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin-bottom: 80px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 125px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

section h3.title {
  color: #414a4f;
  text-transform: capitalize;
  font: bold 32px own;
  margin-bottom: 35px;
  text-align: center;
}

section p {
  max-width: 800px;
  text-align: center;

  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}