html {
  font: normal 16px sans-serif;
  color: #555;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------
 	General
-------------*/
@font-face {
  font-family: "own";
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url("/font/Aladin-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "dosis";
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url("/font/Dosis-VariableFont_wght.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  opacity: 0.9;
}

hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin-bottom: 80px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 125px 100px;
}

section h3.title {
  color: #414a4f;
  text-transform: capitalize;
  font: bold 32px own;
  margin-bottom: 35px;
  text-align: center;
}

section p {
  max-width: 800px;
  text-align: center;

  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}
